## Assignment 10

Cong Chen <br>
G43265951

### Part 1

In [1]:
# Get a response object for the URL requested
import urllib.request
from bs4 import BeautifulSoup as bs

url = "https://my.gwu.edu/mod/pws/courses.cfm?campId=1&termId=201903&subjId=DNSC"

request = urllib.request.Request(url)

response = urllib.request.urlopen(request)

# Import html content into object data
data = response.read()

response.close()

# Create the soup
soup = bs(data, "html.parser")

In [8]:
# Find tables
tables = soup.findAll("table")

myLists = []

for table in tables:
    # Get content of each table
    rows = table.findAll("tr")
    r = []
    for row in rows:
        # Get content of each row in the table
        cells = row.findAll("td")
        c = []
        for cell in cells:
            # Get content of each cell 
            c.append(cell.getText().strip().replace("\n\t\t\t\n\n\n\t\t\t\t\t", " "))
        r.append(c)
    myLists.append(r)
    
# The data started from position 4 of myLists    
myLists[4]

[['OPEN',
  '96259',
  'DNSC 1001',
  '10',
  'Business Analytics I: Statistics for Descriptive and Predictive Analytics',
  '3.00',
  'Prasad, S',
  'DUQUES 254',
  'TR11:10AM - 12:25PM',
  '08/26/19 - 12/09/19',
  ''],
 ['Comments: Registration restricted to undergraduate GWSB students only.',
  '',
  'Find Books']]

In [3]:
# Create list of column names
import pandas as pd
headings = myLists[3][0][:-1]
headings

['STATUS',
 'CRN',
 'SUBJECT',
 'SECT',
 'COURSE',
 'CREDIT',
 'INSTR.',
 'BLDG/RM',
 'DAY/TIME',
 'FROM / TO']

In [4]:
# Filter data, only keeps essential data 
newLists = []
for i in list(range(4,24)):
    newLists.append(myLists[i][0][:-1])
    
# Create dataframe and import data
mydf = pd.DataFrame(newLists, columns = headings)
mydf.head()

,STATUS,CRN,SUBJECT,SECT,COURSE,CREDIT,INSTR.,BLDG/RM,DAY/TIME,FROM / TO
0,OPEN,96259,DNSC 1001,10,Business Analytics I: Statistics for Descripti...,3.00,"Prasad, S",DUQUES 254,TR11:10AM - 12:25PM,08/26/19 - 12/09/19
1,OPEN,96260,DNSC 2001,10,Business Analytics II: Predictive and Prescrip...,3.00,"Prasad, S",ROME 204,TR02:20PM - 03:35PM,08/26/19 - 12/09/19
2,WAITLIST,96261,DNSC 4211,10,Programming for Analytics,3.00,"Kanungo, S",GELM B04,TR11:10AM - 12:25PM,08/26/19 - 12/09/19
3,OPEN,95315,DNSC 4404,10,Essentials of Project Management,3.00,"Khamooshi, H",GOV 102,R03:30PM - 06:00PM,08/26/19 - 12/09/19
4,OPEN,97612,DNSC 4900,10,Text Analytics,3.00,"Prasad, S",DUQUES 350,TR12:45PM - 02:00PM,08/26/19 - 12/09/19

In [5]:
# Check shape of dataframe
mydf.shape

(20, 10)

### Part 2

In [6]:
# Draw the bar graph based on credit
import matplotlib.pyplot as plt
mydf["CREDIT"].value_counts().plot(kind = 'bar')
plt.title("Bar Plot of Course Credit")
plt.xlabel('Credit')
plt.ylabel('Count')
plt.show()